<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Convert to Audio</title>
</head>
<body>
    <div class="container">
        <h1>Convert to Audio</h1>
        <form action="{{ url_for('convert_to_audio_run') }}" method="post">
            <button type="submit">open audio file</button>
        </form>
        <a href="{{ url_for('home') }}"><button>Back to Home</button></a>
    </div>
</body>
</html>
