<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Create Gesture</title>
</head>
<body>
    <div class="container">
        <h1>Create Gesture</h1>
        <form action="{{ url_for('create_gesture_run') }}" method="post">
            <button type="submit">click to create geasture</button>
        </form>
        
        <a href="{{ url_for('index') }}">Back to Home</a>
    </div>
</body>
</html>
